/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***************************************************************************/
/*FLOAT CLEAR*/
/***************************************************************************/

.contain-group:before,
.contain-group:after {
    content: "";
    display: table;
}
.contain-group:after {
    clear: both;
}
.contain-group {
    clear: both;
    *zoom: 1;
}

/***************************************************************************/
/*TOPOGRAPHY*/
/***************************************************************************/

body {
    background: #272d2d;
    --primary: #027CAE;
    --bg-light: #FFFFFF;
    --text-dark: #272D2D;
    --text-secondary: #747A7A;
    --text-light: #FFFFFF;
}

h1 {
text-align: left;
    font-size: 38px;
    line-height: 48px;
    color: var(--bg-light);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    float: left;
    margin-top: -5px;
    margin-left: -1px;
    margin-right: -1px;
    letter-spacing: 0.1px;
}

h2 {
    font-family: 'Francois One', sans-serif;
    font-size: 40px;
    text-align: left;
    font-weight: 400;
    color: var(--primary);
    margin-bottom: 6px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-dark);
}

h4 {
    color: var(--text-dark);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}


h5 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--text-dark);
    font-weight: 700;
}

h6 {
    font-size: 12px;
    color: var(--primary);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#sub-job-title {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 20px;
    position: relative;
    left: 161px;
    bottom: 7px;
    height: 0px;
    color: var(--text-secondary);
    font-weight: 700;
    margin-top: 6px;
}

p {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-secondary);
}

#sidePanel p {
    color: var(--text-dark);
    font-size: 10px;
}

#sidePanel h3 {
    color: var(--text-light)
}

em{
    color: var(--text-dark);
    font-weight: 900;
}

#mainPanel em {
    color: var(--text-dark);
}

.subpoint {
    color: var(--text-dark);
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: 700;
}

footer {
    margin-top: 5px;
    font-size: 8px;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
}

footer a {
    color: var(--bg-dark);}

a {
    color: var(--text-secondary);
}

.nth-hobby {
    color: var(--primary);
}


/***************************************************************************/
/*MAIN-PANEL*/
/***************************************************************************/

#mainPanel {
    background: var(--bg-light);
    float: right;
    width: 70%;
    height:1064px;
    margin-top: -8px;
}

section p {
    font-size: 13px;
    line-height: 14px;
}

#mainPanel li {
    color: var(--text-secondary);
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

.entry p {
    margin-right: 5px;
}

header {
    margin: 10px;
}

.entry {
    margin-top: 36px;
}

.entry-left {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-dark);
    /*margin-top: 5px;*/
}

.year {
    font-size: 9px;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-dark);
}

aside {
    float: left;
    width: 18%;
    text-align: center;
}

aside img {
    margin-top: -2px;
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
}

main {
    float: right;
    width: 82%;
}

.entry-right {
    /*margin-top: 5px;*/
}

.nth-entry {
    margin-top: 36px;
}

.column1-2 {
    float: left;
    width: 49%;
    font-size: 12px;
    text-align: justify;
}

#secondColumn {
    margin-left: 10px;
}

.smaller-date {
    font-size: 9px;
}

.current-pos {
    color: var(--text-secondary);
}

.last-li {
    margin-bottom: 5px;
}

.sub-section {
  display: flex;
  margin-top: 24px;
  margin-right: 12px;
}

.sub-section h3 {
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 6px;
}

.awards-icon {
  height: 25px;
  margin: 0 12px;
}



/***************************************************************************/
/*PROJECTS*/
/***************************************************************************/
/* 
.column-1 {
    float: left;
    width: 32.672%;
}
.column-2 {
    float: left;
    width: 32.672%;
    margin: 0 5px;
} */

#projects {
    margin: 17px 7px 0 10px;
    background-color: white;
    width: 100%;
    height: 1064px;
    margin-left: 0px;
    border-top: solid darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 17px, auto;
    /* margin: 48px; */
}

.projects-header {
  width: 80%;
  margin-left: 30px;
}

#projects > section {
  width: 80%;
  justify-content: center;
  margin-top: 36px;
  margin-right: -30px;
  display: flex;
}

#projects > section > div {
  width: 70%;
  margin-right: 30px;
}

#projects > section > ul {
  width: 30%;
  /* max-width: 200px; */
  display: flex;
  flex-wrap: wrap;
  list-style: disc;
  /* margin-left: -30px; */
  list-style-position: inside;
  height: fit-content;
}

#projects li {
  color: var(--primary);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: left;
  margin-top: 6px;
  /* margin-left: 36px; */
  /* max-height: 15px; */
}

#projects li > span {
  position: relative;
  left: -12px;
}

.second-row-fix {
  margin-left: 20px;
}

.projects-header > h2 {
  margin-top: 48px;
  font-size: 50px;
  text-align: left;
}

#projects h4 {
  font-size: 22px;
  opacity: 0.8;
  margin-bottom: 6px;
  text-align: left;
}

#projects h5 {
  font-size: 14px;
  opacity: 0.7;
  text-align: left;
  margin-top: 10px;
  width: 100%;
  /* margin-left: 36px; */
}

#projects h6 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  text-align: left;
}

#projects p {
  font-size: 16px;
  line-height: unset;
}



/* #projects h2 {
    text-align: center;
}

#projects h4 {
    text-align: center;
    font-size: 16px;
}

#projects p {
    text-align: justify;
    font-size: 13px; */
/* } */


/***************************************************************************/
/*PROJECTS*/
/***************************************************************************/

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px 1px;
}

#hobbies {
    margin: 30px 10px 0 11px;
}

#hobbies-aside {
    margin-top: 20px;
    margin-bottom: 14px;
}

#hobbies h2 {
    text-align: center;
}

.hobby {
    width: 15%;
    text-align: center;
    min-width: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}

.hobby-img {
    width: 60px;
    color: red;
}

.hobby p {
    font-size: 10px;
}




/***************************************************************************/
/*SIDE PANEL*/
/***************************************************************************/

/*Blue: #027CAE*/
/*Main: #575757*/
/*Side: #3d3d3d*/

#resumeContainer {
    width: 815px;

    margin: 0 auto;
}

#sidePanel {
    float: left;
    width: 30%;
    height: 1056px;
    background: var(--primary);
}

#sidePanel > section {
  margin-top: 24px;
}

#aboutMe > p {
    font-size: 14px;
}

#profilePicContainer {
    /*border-radius: 50%;*/
    overflow: hidden;
    width: 240px;
    height: 240px;
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
    margin: 10px;
    border: solid 10px var(--bg-light);
}

#profilePicContainer img {
    display: block;
    min-width: 260%;
    min-height: 210%;
    max-width: 260%;
    max-height: 210%;
    margin-top: -155px;
}

#contactMe {
    margin: 0 10px;
}

.contact-image {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    margin-top: -2px;
}

.contact-info {
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0 12px 0;
    color: var(--text-dark);
    font-family: 'Francois One', sans-serif;
}

#aboutMe {
    margin: 20px 10px 0 10px;
    color: var(--bg-light);
    text-align: justify;
}

.column-left {
    float: left;
    width: 33.33%;
    font-family: 'Francois One', sans-serif;
}

.experience-points li {
    margin-bottom: 9px;
    margin-right: 5px;
    font-size: 13px !important;
}

/***************************************************************************/
/*Progress Bars*/
/***************************************************************************/

.progressbar {
    background-color: var(--text-dark);
    padding: 3px;
    margin: 3px 0;
}

.progressbar > div {
    background-color: var(--bg-light);
    width: 40%;
    height: 20px;
    color: var(--text-dark);
    line-height: 20px;
    font-weight: 700;
    font-family: 'Francois One', sans-serif;
}

#languages {
    margin-top: 9px;
}

#other-skills {
    color: var(--text-dark);
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 14px;
}

#other-skills li {
    margin-bottom: 3px;
}

#skills {
    margin: 10px 10px 0 10px;
}

#java {
    width: 70%;
}

#html {
    width: 85%;
}

#csharp {
    width: 65%;
}

#android {
    width: 75%;
}

#javascript{
    width: 90%;
}

#underwater-basket-weaving {
    width: 95%;
}

#cpp {
    width: 45%;
}

#uml {
    width: 75%;
}


#sql {
    width: 70%;
}

#mongo {
    width: 70%;
}

#english {
    width: 99%;
}

#french {
    width: 30%;
}
